body.home #app-header{
	background-color: transparent;
	padding: 0;
	position: fixed;
	width: 100%;
	color: #fff;
	z-index: 2;
	.wrapper{
		justify-content:center;
		display: flex;

		h1{
			font-size: 6.5rem;
		}
		img{
			width: 6rem;
		}
	}


}
header#app-header{
	background-color: darkcyan;
  

	h1{
		padding: 1rem;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		font-size: 2rem;
		a{
			color: #fff;
			text-decoration: none;
		}

	}
	img{
		width: 3rem;

	}
	.strapline{
		display: none;
	}
}
.logo,
.page-header{
	overflow: hidden;
}
.wrapper{
	display: none;
    flex-flow: row wrap;
    align-items: center;
}

.page-header{
	background: url('../public/images/site_images/front-image.jpg');
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0 1rem;
}
.scroll-head{
	position: absolute;
	top: -5rem;
}

.fixed{
	transition: .5s all ease;
	position: fixed;
	top: 0 !important;
	width: 100%;
	padding:1rem 0;
}
