@font-face{
	font-family: 'bariolregular';
	src: url('../fonts/bariol_regular.woff2') format('woff2'),
		 url('../fonts/bariol_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
};

body{
	font-family: 'bariolregular', sans-serif;
}