<header class="page-header">
	<div class="container">
		<h1 class="display-1 page-title">{{page.title}}</h1>
	</div><!-- container -->
</header><!-- page-header -->

<div class="bg-strip dark-strip">
	<div class="container">
		<h2></h2>
	</div><!-- container -->
</div><!-- bg-strip -->