<header class="page-header">
	<div class="container">
		<h1 class="display-3 page-title">{{page.title}}</h1>
	</div><!-- container -->
</header><!-- page-header -->

<div class="grid">

</div><!-- bg-strip -->
