<div class="home-banner-wrapper">
	<img src="{{data.pages.home.media.main_image}}" alt="" class="main-img">
	<form class="home-search my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="text" placeholder="Search for city, country, post/zip code, area, reference number...">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
	</form>
</div>

<header class="page-header">
	<div class="container">
		<h1 class="display-1 page-title">{{page.title}}</h1>
		
	</div><!-- container -->
</header><!-- page-header -->

<div class="bg-strip dark-strip">
	<div class="container">
		<h2>A Title</h2>
	</div><!-- container -->
</div><!-- bg-strip -->